body {
  background-color: #a1daa3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #c82c2c;
  text-align: center;
  margin-top: 20px;
}

p {
  color: #6b6b6a;
  font-size: 16px;
  text-align: justify;
  width: 80%;
  max-width: 600px;
  margin: 20px 0;
}

img {
  border: 2px solid #c50cac;
  border-radius: 8px;
  width: 100%;
  max-width: 150px;  /* Ajusta el tamaño máximo */
  height: auto;  /* Mantiene la proporción de la imagen */
  display: block;
  margin: 20px auto;  /* Centra la imagen horizontalmente y agrega margen vertical */
}
